@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    background: rgb(50, 50, 50);
    overflow-y: hidden;
}

.stopwatch-wrapper {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    min-width: 35rem;
    min-height: 25rem;
    color: rgb(150, 149, 149);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    font-size: 9.2rem;
}

.buttons {
    height: 2rem;
    margin-top: 0rem;
}
.buttons > button:active {
    color: rgb(214, 214, 214);

}
.buttons > button {
    margin: auto auto;
    padding: .5rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: rgb(150, 149, 149);
    font-size: 1.6rem;
}

.numbers, .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lap-time {
    padding-left: 2rem;
}

@media screen and (max-width: 425px) {
    .numbers > div {
        font-size: 5rem;
    }
    .buttons > button {
        font-size: 1rem;
        margin: .5rem;
    }
    .buttons {
        margin-bottom: 2rem;
        height: auto;
    }
    .container {
        /* min-width: 425px; */
        width: 100%;
        height: 100%;
    }
    .stopwatch-wrapper {
        /* min-width: 70%; */
        height: 100vh;
        margin: 0%;
        margin-top: 5rem;
        padding: 0;
    }
}

@media screen and (max-width: 390px) {
    .stopwatch-wrapper {
        height: 100vh;
        width: 100%;
    }
    .numbers > div {
        font-size: 5rem;
    }
    .buttons > button {
        font-size: .7rem;
        margin: .5rem;
        margin-bottom: -2rem;
    }
}

@media screen and (max-width: 800px) {
    .stopwatch-wrapper {
        min-width: 70%;
        min-height: 50%;
    }
    .numbers {
        font-size: 7rem;
    }
}

@media screen and (max-width: 300px) {
    .stopwatch-wrapper {
        height: 100vh;
        width: 100%;
    }
    .numbers > div {
        font-size: 4rem;
    }
    .buttons > button {
        font-size: .7rem;
        margin: .5rem;
        margin-bottom: -2rem;
    }
}